html {
  box-sizing: border-box;
}

.wrapper {
  max-width: $wrapper-max-width;
  min-width: 320px;
  margin: auto;
}

.container {
  padding: 0 40px;
  @media (max-width: $medium) {
    padding: 0 30px;
  }
  @media (max-width: $small) {
    padding: 0 10px;
  }
}

.link {
  text-decoration: none;
}