$wrapper-max-width: 1280px;

//breakpoints
$large: 1280px;
$medium: 768px;
$small: 320px;

//fonts
$header-font: Georgia, serif;
$text-font: Arial, sans-serif;

//colors
$header-2-5-color: #545454;
$paragraph-l-color: #4C4C4C;
$paragraph-s-color: #B2B2B2;
$color-primory: #F1CDB3;
$color-primory-light: #FDDCC4;
$color-dark-s: #CDCDCD;
$color-light-s: #FAFAFA;
$color-dark-button: #292929;

