@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Georgia"),
  local("Georgia-Regular"),
  url("../../assets/fonts/Georgia.woff2") format("woff2")
}

@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Georgia-Italic"),
  url("../../assets/fonts/Georgia-Italic.woff2") format("woff2")
}

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Arial"),
  local("Arial-Regular"),
  url("../../assets/fonts/ArialMT.woff2") format("woff2")
}

@font-face {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Arial-Italic"),
  url("../../assets/fonts/Arial-ItalicMT.woff2") format("woff2")
}

