.footer {
  display: flex;
  justify-content: space-between;
  background: url(../../images/noise_transparent@2x.png),
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
  #211F20;
  gap: 5px 60px;
  @media (max-width: 1279px) {
    align-content: center;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 767px) {
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
}

.footer__questions {
  max-width: 279px;
  margin-top: 56px;
  margin-bottom: 60px;
  @media (max-width: 1279px) {
    margin-top: 30px;
  }
  @media (max-width: 767px) {
    margin-bottom: 0;
    text-align: center;
  }
}

.footer__questions-title,
.footer__visit-title {
  margin: 0;
  color: #fff;
  @media (max-width: 767px) {
    font-size: 25px;
    text-align: center;
  }
}

.footer__visit-title {
  @media (max-width: 767px) {
    display: inline-block;
    max-width: 270px;
  }
}

.footer__link {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 32px;
  text-decoration: none;
  color: $color-primory;
  transition: 0.3s;
  gap: 20px;
  @media (max-width: 767px) {
    justify-content: center;
  }

  &:hover {
    text-decoration: underline;
  }
}

.footer__link-email,
.footer__link-phone {
  margin-top: 40px;
}

.footer__link-icon {
  width: 40px;
  height: 32px;
}

.email-icon {
  background-image: url("../../icons/icon-email.svg");
  background-size: cover;
}

.phone-icon {
  background-image: url("../../icons/icon-phone.svg");
  background-size: cover;
}

.footer__visit {
  max-width: 302px;
  margin-top: 56px;
  @media (max-width: 1279px) {
    margin-top: 30px;
  }
  @media (max-width: 767px) {
    margin-top: 0;
    text-align: center;
  }
}

.address-1-link {
  margin-top: 34px;
  line-height: 115%;
  @media (max-width: 1279px) {
    margin-top: 33px;
  }
  @media (max-width: 767px) {
    justify-content: left;
    margin-top: 38px;
    text-align: left;
  }
}

.address-2-link {
  margin-top: 32px;
  @media (max-width: 1279px) {
    margin-top: 33px;
  }
  @media (max-width: 767px) {
    justify-content: left;
    margin-top: 39px;
    text-align: left;
  }
}

.footer__link-icon-visit {
  width: 22px;
  min-width: 22px;
  height: 32px;
}

.marker-icon {
  background-image: url("../../icons/icon-marker.svg");
  background-size: cover;
}

.footer__img {
  align-self: flex-end;
  width: 300px;
  height: 310px;
  @media (max-width: 1279px) {
    align-self: center;
  }
  @media (max-width: 767px) {
    align-self: center;
    width: 260px;
    height: 269px;
  }
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px 160px;
  @media (max-width: 1279px) {
    justify-content: center;
    gap: 5px 60px;
  }
  @media (max-width: 767px) {
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
}