.button {
  padding: 15px 45px;
  font-family: $header-font;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-button;
  border: 0;
  border-radius: 100px;
  background: $color-primory;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: $color-primory-light;
  }
}

.button_white {
  padding: 13px 43px;
  border: 2px solid $color-primory;
  background: transparent;

  &:hover {
    border-color: $color-primory-light;
  }
}

.slider__button,
.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  min-width: 52px;
  height: 52px;
  min-height: 52px;
  padding: 0;
  font-family: $header-font;
  font-size: 20px;
  letter-spacing: 0.06em;
  border: 2px solid $color-primory;
  border-radius: 100px;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: $color-primory;
  }
}

.slider__button_left {
  &:after {
    content: url(../../icons/Arrow-left.svg);
    height: 6px;
    line-height: 1px;
  }
}

.slider__button_right {
  &:after {
    content: url(../../icons/Arrow-right.svg);
    line-height: 1px;
    height: 6px;
  }
}

.popup__button_close {
  &:after {
    content: url(../../icons/icon-close.svg);
    line-height: 1px;
    height: 12px;
  }
}