.nav {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    right: -320px;
    height: 100vh;
    width: 320px;
    background: $color-dark-button;
    justify-content: center;
  }
}

.nav_active {
  right: 0;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style: none;
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.menu__item {
  border-bottom: solid 3px transparent;
  transition: 0.3s;
  &:hover {
    border-bottom: solid 3px $color-primory;
    .menu__link {
      color: $color-light-s;
    }
  }
}

.menu__item_active {
  border-bottom: solid 3px $color-primory;
  .menu__link {
    color: $color-light-s;
  }
}


.menu__link {
  color: $color-dark-s;
  @media (max-width: 767px) {
    font-size: 32px;
  }
}

.menu-cover {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: 0.3s;
}

.menu-cover_active {
  z-index: 2;
  background: rgba(41, 41, 41, 0.6);
}
