.nav {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    right: -320px;
    justify-content: center;
    width: 320px;
    height: 100vh;
    background: $color-dark-button;
  }
}

.nav_active {
  right: 0;
  z-index: 3;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 36px;
  @media (max-width: 767px) {
    align-items: center;
    flex-direction: column;
  }
}

.menu__item {
  border-bottom: solid 3px transparent;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    border-bottom: solid 3px $color-primory;

    .menu__link {
      color: $color-light-s;
    }

    .menu__link_pets {
      color: $color-dark-button;
      @media (max-width: 767px) {
        color: $color-light-s;
      }
    }
  }
}

.menu__item_active {
  border-bottom: solid 3px $color-primory;

  .menu__link {
    color: $color-light-s;
  }

  .menu__link_pets {
    color: $color-dark-button;
    @media (max-width: 767px) {
      color: $color-light-s;
    }
  }
}


.menu__link {
  color: $color-dark-s;
  transition: 0.3s;
  @media (max-width: 767px) {
    font-size: 32px;
  }
}

.menu__link_pets {
  color: $header-2-5-color;
  @media (max-width: 767px) {
    color: $color-dark-s;
  }
}
