.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: rgba(41, 41, 41, 0.6);
  transition: 0.3s;
}

.popup_active {
  z-index: 100;
  opacity: 1;
}

.popup__body {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 900px;
  min-height: 500px;
  border-radius: 9px;
  background: #FAFAFA;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  @media (max-width: 1279px) {
    width: 630px;
    min-height: 350px;
  }
  @media (max-width: 767px) {
    align-items: center;
    justify-content: center;
    width: 240px;
    min-height: 341px;
  }
}

.popup__img-wrapper {
  overflow: hidden;
  width: 500px;
  min-height: 100%;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  @media (max-width: 1279px) {
    width: 350px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.popup__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup__text-block {
  width: 351px;
  //height: 362px;
  margin-top: 50px;
  margin-right: 20px;
  @media (max-width: 1279px) {
    width: 260px;
    margin: 10px 9px 10px 0;
  }
  @media (max-width: 767px) {
    width: 220px;
    min-height: 321px;
    margin: 0;
    padding: 10px 0;
  }
}

.popup__header {
  margin: 0;
  color: #000000;
  @media (max-width: 767px) {
    text-align: center;
  }
}

.popup__subheader {
  margin: 0;
  margin-top: 10px;
  color: #000000;
  @media (max-width: 767px) {
    text-align: center;
  }
}

.popup__text {
  margin: 0;
  margin-top: 40px;
  line-height: 17px;
  color: #000000;
  @media (max-width: 1279px) {
    margin-top: 20px;
    font-size: 13px;
    line-height: 110%;
  }
  @media (max-width: 767px) {
    text-align: justify;
  }
}

.popup__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 40px;
  padding-left: 15px;
  gap: 10px;
  @media (max-width: 1279px) {
    margin-top: 20px;
    padding-left: 14px;
    gap: 5px;
  }
  @media (max-width: 767px) {
    margin-top: 24px;
    padding-left: 15px;
  }
}

.popup__list-element {
  line-height: 17px;
  color: $color-primory;
}

.popup__list-text {
  color: #000000;
}

.popup__button_position {
  position: absolute;
  top: -52px;
  right: -42px;
  @media (max-width: 1279px) {
    right: -43px;
  }
  @media (max-width: 767px) {
    right: -30px;
  }
}