/* ---------- HERO -----------*/

.hero {
  position: relative;
  margin-top: -180px;
  background: url(../../images/noise_transparent@2x.png),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
  #211F20;
}

.hero-text-wrapper {
  max-width: 460px;
  padding-top: 343px;
  padding-bottom: 243px;
  @media (max-width: 1279px) {
    margin: auto;
    padding-top: 180px;
    padding-bottom: 692px;
  }
  @media (max-width: 670px) {
    margin: auto;
    padding-top: 180px;
    padding-bottom: 377px;
  }
}

.hero-title {

  max-width: 310px;
  margin: 0;
  color: #fff;
  @media (max-width: 670px) {
    max-width: 230px;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.hero-text {

  margin: 42px 0 0 0;
  color: $color-dark-s;
  @media (max-width: 670px) {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.hero-image {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 698px;
  height: auto;
  @media (max-width: 1279px) {
    right: 30px;
    width: 569px;
  }
  @media (max-width: 670px) {
    right: 10px;
    width: 260px;
  }
}

.hero-button {
  display: block;
  margin-top: 42px;
  @media (max-width: 1279px) {
    margin-right: auto;
    margin-left: auto;
  }
}

/* ------------ ABOUT ------------- */

.about {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 80px 215px 100px 215px;
  @media (max-width: 1279px) {
    flex-direction: column;
    padding: 80px 20px 100px 20px;
  }
  @media (max-width: 670px) {
    flex-direction: column;
    padding: 42px 10px 42px 10px;
  }
}

.about-image {
  width: 300px;
  height: auto;
  @media (max-width: 1279px) {
    order: 2;
    margin-top: 80px;
  }
  @media (max-width: 670px) {
    order: 2;
    width: 260px;
    margin-top: 42px;
  }
}

.about-text-wrapper {
  max-width: 430px;
}

.about-title {
  max-width: 370px;
  margin: 0;
  @media (max-width: 670px) {
    max-width: 290px;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
  }
}

.about-text-1,
.about-text-2 {
  margin: 25px 0 0 0;
  @media (max-width: 670px) {
    margin: 22px 15px 0 15px;
    text-align: justify;
  }
}

/* ----------- FRIENDS ----------- */
.friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background: #F6F6F6;
  @media (max-width: 670px) {
    padding-top: 42px;
    padding-bottom: 42px;
    font-size: 25px;
  }
}

.friends-title {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 670px) {
    max-width: 300px;
    font-size: 25px;
  }
}

.friends-button {
  display: block;
  margin: 18px auto 0 auto;
  @media (max-width: 767px) {
    margin-top: 0;
  }
}

/* ----------- HELP ---------------- */

.help {
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
  @media (max-width: 670px) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.help-title {
  width: 310px;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 670px) {
    max-width: 222px;
    font-size: 25px;
  }
}

.help__cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1026px;
  margin: 59px auto 0 auto;
  justify-items: center;
  gap: 55px 119.3px;
  @media (max-width: 1279px) {
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px calc(60 * 100vw / 768);
  }
  @media (max-width: 767px) {
    margin-top: 40px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 480px) {
    max-width: 290px;
    gap: 30px;
  }
}

.help__card {
  height: 113px;
  @media (max-width: 885px) {
    width: 170px;
  }
  @media (max-width: 480px) {
    width: 130px;
    height: 87px;
  }
}

.help__card-img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background-size: cover;
  @media (max-width: 480px) {
    width: 50px;
    height: 50px;
  }
}

.help__card-title {
  margin: 30px 0 0 0;
  @media (max-width: 480px) {
    margin-top: 20px;
    font-size: 15px;
  }
}

.pet-food {
  background-image: url(../../icons/icon-pet-food.svg);
}

.transportation {
  background-image: url(../../icons/icon-transportation.svg);
}

.toys {
  background-image: url(../../icons/icon-toys.svg);
}

.bowls-and-cups {
  background-image: url(../../icons/icon-bowls-and-cups.svg);
}

.shampoos {
  background-image: url(../../icons/icon-shampoos.svg);
}

.vitamins {
  background-image: url(../../icons/icon-vitamins.svg);
}

.medicines {
  background-image: url(../../icons/icon-medicines.svg);
}

.collars-leashes {
  background-image: url(../../icons/icon-collars-leashes.svg);
}

.sleeping-areas {
  background-image: url(../../icons/icon-sleeping-area.svg);
}

/* ------------- DONATION -------------------*/

.donation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0 100px 0;
  background: #F6F6F6;
  gap: 30px;
  @media (max-width: 960px) {
    flex-direction: column;
    gap: 60px;
  }
  @media (max-width: 560px) {
    padding: 42px 0;
    gap: 42px;
  }
}

.donation__img {
  width: 505px;
  height: 261px;
  @media (max-width: 960px) {
    order: 2;
  }
  @media (max-width: 560px) {
    width: 260px;
    height: 135px;
  }
}

.donation__content {
  max-width: 380px;
  @media (max-width: 960px) {
    order: 1;
  }
  @media (max-width: 560px) {
    max-width: 300px;
    text-align: center;
  }
}

.donation__title {
  width: 300px;
  margin-top: 0;
  margin-bottom: 0;
  @media (max-width: 560px) {
    font-size: 25px;
    text-align: center;
  }
}

.donation__text {
  margin: 20px 0 0 0;
  @media (max-width: 560px) {
    margin-top: 19px;
    font-family: $text-font;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    letter-spacing: normal;
  }
}

.donation__credit-card {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 9px;
  background: #F1CDB3;
  gap: 15px;
}

.credit-card-img {
  width: 30px;
  height: 23px;
  background-image: url("../../icons/credit-card.svg");
}

.card-number {
  margin: 0;

  @media (max-width: 560px) {
    font-size: 15px;
    line-height: 115%;
  }
}

.donation__legal {
  margin-top: 20px;
  margin-bottom: 0;
  @media (max-width: 560px) {
    max-width: 280px;
    margin: 20px auto 0 auto;
    text-align: justify;
  }
}