/* ------- HEADER ------------*/

.header {
  position: relative;
  z-index: 2;
  @media (max-width: 710px) {
    margin-right: 43px;
  }
}

.header__main {
  margin-top: 60px;
  margin-bottom: 60px;
  @media (max-width: $medium) {
    margin-top: 30px;
  }
}

.logo__title {
  color: $color-primory;
}

.logo__text {
  color: #fff;
}

.menu__link {
  color: $color-dark-s;
  transition: 0.3s;

  &:hover {
    color: $color-light-s;
  }
}

.menu__link_active {
  color: $color-light-s;
}

/* ---------- HERO -----------*/

.hero {
  position: relative;
  margin-top: -180px;
  background: url(../../images/noise_transparent@2x.png),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
  #211F20;
}

.hero-text-wrapper {
  max-width: 460px;
  padding-top: 343px;
  padding-bottom: 243px;
  @media (max-width: 1120px) {
    padding-top: 150px;
    padding-bottom: 693px;
    margin: auto;
  }
  @media (max-width: 670px) {
    padding-top: 150px;
    padding-bottom: 377px;
    margin: auto;
  }
}

.hero-title {
  max-width: 310px;
  margin: 0;
  color: #fff;
}

.hero-text {
  margin: 42px 0 0 0;
  color: $color-dark-s;
}

.hero-image {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 689px;
  height: auto;
  @media (max-width: 1120px) {
    width: 569px;
  }
  @media (max-width: 670px) {
    width: 260px;
  }
}

.hero-button {
  display: block;
  margin-top: 42px;
  @media (max-width: 1120px) {
    margin-left: auto;
    margin-right: auto;
  }
}