/* ------- HEADER ------------*/

.header {
  position: relative;
  z-index: 2;
  @media (max-width: 710px) {
    margin-right: 43px;
  }
}

.header__main {
  margin-top: 60px;
  margin-bottom: 60px;
  @media (max-width: $medium) {
    margin-top: 30px;
  }
}

.logo__title {
  color: $color-primory;
}

.logo__text {
  color: #fff;
}

.menu__link {
  color: $color-dark-s;
  transition: 0.3s;

  &:hover {
    color: $color-light-s;
  }
}

.menu__link_active {
  color: $color-light-s;
}

/* ---------- HERO -----------*/

.hero {
  position: relative;
  margin-top: -180px;
  background: url(../../images/noise_transparent@2x.png),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
  #211F20;
}

.hero-text-wrapper {
  max-width: 460px;
  padding-top: 343px;
  padding-bottom: 243px;
  @media (max-width: 1120px) {
    margin: auto;
    padding-top: 180px;
    padding-bottom: 692px;
  }
  @media (max-width: 670px) {
    margin: auto;
    padding-top: 180px;
    padding-bottom: 377px;
  }
}

.hero-title {

  max-width: 310px;
  margin: 0;
  color: #fff;
  @media (max-width: 670px) {
    max-width: 230px;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.hero-text {

  margin: 42px 0 0 0;
  color: $color-dark-s;
  @media (max-width: 670px) {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.hero-image {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 698px;
  height: auto;
  @media (max-width: 1120px) {
    right: 30px;
    width: 569px;
  }
  @media (max-width: 670px) {
    right: 10px;
    width: 260px;
  }
}

.hero-button {
  display: block;
  margin-top: 42px;
  @media (max-width: 1120px) {
    margin-right: auto;
    margin-left: auto;
  }
}

/* ------------ ABOUT ------------- */

.about {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 80px 215px 100px 215px;
  @media (max-width: 1120px) {
    flex-direction: column;
    padding: 80px 20px 100px 20px;
  }
  @media (max-width: 670px) {
    flex-direction: column;
    padding: 42px 10px 42px 10px;
  }
}

.about-image {
  width: 300px;
  height: auto;
  @media (max-width: 1120px) {
    order: 2;
    margin-top: 80px;
  }
  @media (max-width: 670px) {
    order: 2;
    width: 260px;
    margin-top: 42px;
  }
}

.about-text-wrapper {
  max-width: 430px;
}

.about-title {
  max-width: 370px;
  margin: 0;
  @media (max-width: 670px) {
    max-width: 290px;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
  }
}

.about-text-1,
.about-text-2 {
  margin: 25px 0 0 0;
  @media (max-width: 670px) {
    margin: 22px 15px 0 15px;
    text-align: justify;
  }
}

/* ----------- FRIENDS ----------- */
.friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background: #F6F6F6;
  @media (max-width: 670px) {
    padding-top: 42px;
    padding-bottom: 42px;
    font-size: 25px;
  }
}

.friends-title {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 670px) {
    max-width: 300px;
    font-size: 25px;
  }
}

.slider {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 59px;
  @media (max-width: 460px) {
    justify-content: center;
    margin-top: 42px;
    gap: 20px 80px;
  }
}

.slider__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 990px;
  margin: 0;
  padding: 0;
  list-style: none;
  @media (max-width: 1120px) {
    max-width: 580px;
  }
  @media (max-width: 720px) {
    max-width: 270px;
  }
  @media (max-width: 460px) {
    order: 1;
  }
}

.slider__button_left {
  @media (max-width: 460px) {
    justify-content: center;
    order: 2;
  }
}

.slider__button_right {
  @media (max-width: 460px) {
    justify-content: center;
    order: 3;
  }
}

.slider-card {
  width: 270px;
  min-width: 270px;
  height: 435px;
  border-radius: 9px;
  background: #FAFAFA;
}

.slider-card-2 {
  @media (max-width: 720px) {
    display: none;
  }
}

.slider-card-3 {
  @media (max-width: 1120px) {
    display: none;
  }
}

.slider-card__img-wrapper {
  width: 100%;
  height: 270px;
}

.slider-card__img {
  width: 100%;
  object-fit: cover;
}

.slider-card__bottom {
  height: calc(100% - 270px);
  text-align: center;
}

.slider-card__card-header {
  margin: 30px 0;
  text-align: center;
}

.friends-button {
  display: block;
  margin: 60px auto 0 auto;
  @media (max-width: 460px) {
    margin-top: 42px;
  }
}

/* ----------- HELP ---------------- */

.help {
  padding-top: 80px;
  padding-bottom: 100px;
  @media (max-width: 670px) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.help-title {
  width: 310px;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 670px) {
    max-width: 222px;
    font-size: 25px;
  }
}

.help__cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1026px;
  margin: 58px auto 0 auto;
  text-align: center;
  gap: 55px 119.3px;
  @media (max-width: 885px) {
    gap: 55px 60px;
  }
  @media (max-width: 670px) {
    margin-top: 41px;
  }
  @media (max-width: 480px) {
    justify-content: flex-start;
    max-width: 290px;
    gap: 30px;
  }
}

.help__card {
  height: 113px;
  @media (max-width: 885px) {
    width: 170px;
  }
  @media (max-width: 480px) {
    width: 130px;
    height: 87px;
  }
}

.help__card-img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background-size: cover;
  @media (max-width: 480px) {
    width: 50px;
    height: 50px;
  }
}

.help__card-title {
  margin: 30px 0 0 0;
  @media (max-width: 480px) {
    margin-top: 20px;
    font-size: 15px;
  }
}

.pet-food {
  background-image: url(../../icons/icon-pet-food.svg);
}

.transportation {
  background-image: url(../../icons/icon-transportation.svg);
}

.toys {
  background-image: url(../../icons/icon-toys.svg);
}

.bowls-and-cups {
  background-image: url(../../icons/icon-bowls-and-cups.svg);
}

.shampoos {
  background-image: url(../../icons/icon-shampoos.svg);
}

.vitamins {
  background-image: url(../../icons/icon-vitamins.svg);
}

.medicines {
  background-image: url(../../icons/icon-medicines.svg);
}

.collars-leashes {
  background-image: url(../../icons/icon-collars-leashes.svg);
}

.sleeping-areas {
  background-image: url(../../icons/icon-sleeping-area.svg);
}